@model Avanade.Challenge.Api.Infra.Database.Domain.Phrase



<h1>Question</h1> 
 <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://code.responsivevoice.org/responsivevoice.js?key=zrgYxefx"></script>

<div class="form-group">
    <input onclick="responsiveVoice.speak('@Model.Expression');" class="btn btn-primary" type='button' value='🔊 Play' />
</div>
<input type="hidden" name="Id" value="@Model.Id" />

<div class="form-group">
    <label asp-for="Answer" class="control-label">Answer</label>
    <input asp-for="Answer" id="Answer" name="Answer" class="form-control" />
</div>
<button onclick="checkinAnswer()" class="btn btn-primary">Verificar</button>
<script type="text/javascript">

    // responsiveVoice.speak('@Model.Expression');
         

     function checkinAnswer()
     {
         var answer = $("#Answer").val;
          $.ajax({
           type: 'get',
           url: '/Home/Checkin',
           data: {
               Id: '@Model.Id',
               Answer: answer,
           },
           dataType: 'json',
           success: function (json) {
               var teste = json;
           },
           error: function (e) {
               var teste = e;
           }
       }); 
     }


</script>
